#navbar-form {
    padding: 0;
    margin: 0;

    label {
        margin: 4px;

        &[draggable=true] {
            cursor: move;
        }

        &.hint {
            background: var(--sidenav-hover-background-color);
        }

        &.active {
            background: var(--sidenav-background-color);
        }
    }

}