$sidenav-vertical-width: 280px;

html[theme="light"] {
    --body-background-color: #f0f0f0;
    --body-color: #000;
    --content-background-color: #fff;
    --content-hover-background-color: #e4e4e4;
    --sidenav-background-color: #0A2558;
    --sidenav-color: #fff;
    --sidenav-hover-background-color: #f0f0f0;
    --sidenav-hover-color: #000;
}

html[theme="dark"] {
    --body-background-color: #181818;
    --body-color: #e9e9e9;
    --content-background-color: #212121;
    --content-hover-background-color: #373942;
    --sidenav-background-color: #1a1c22;
    --sidenav-color: #74767b;
    --sidenav-hover-background-color: #1B428C;
    --sidenav-hover-color: #e9e9e9;
    --border-sidebar-color: #475467;
    --border-box-color: #383838;
    --red-button-background-color: #b20000;
    --red-button-hover-background-color: #5f0202;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--body-background-color);
    // text-align: center;
    color: var(--body-color);
}

a {
    color: var(--body-color);
}

.help {
    cursor: help;
    font-size: medium;
    
    &::before {
        content: "?";
        background-color: #1B428C;
        color: #ffffff;
        border-radius: 50%;
        line-height: 1.1em;
        text-align: center;
        width: 1em;
        height: 1em;
        padding: 0.1em;
        display: inline-block;
    }

    &:hover,
    &:focus {
        &::after {
            content: "\A" attr(help);
            font-weight: normal;
            white-space: pre-line;
        }
    }
}

.inner-body {
    width: calc(100% - $sidenav-vertical-width);
    margin-left: $sidenav-vertical-width;
}

button,
input[type="button"],
input[type="submit"] {
    background-color: var(--sidenav-hover-background-color);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    color: var(--sidenav-hover-color);
    cursor: pointer;
    padding: 6px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover,
    &:focus,
    &:disabled {
        background-color: var(--sidenav-background-color);
        color: var(--sidenav-color);

        &.red-button {
            background-color: var(--red-button-hover-background-color);
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &.red-button {
        background-color: var(--red-button-background-color);
    }

    &.completed::after {
        content: " \2713";
        line-height: 1em;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1B428C;
    margin: 10px auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

hr {
    margin: 20px
}


.content {
    margin-left: calc(1% + $sidenav-vertical-width);
    margin-right: 1%;

    .box {
        padding: 20px 30px;
        background: var(--content-background-color);
        /*! margin-top: 4%; */
        border-radius: 12px;
        border-color: var(--border-box-color);
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;

        h2 {
            margin-top: 0px;
        }

        table,
        [role=table] {
            text-align: left;
            width: 100%;
            border-collapse: collapse;
            display: table;
            table-layout: fixed;

            tr,
            [role=row] {
                display: table-row;
                border-top: .5px solid var(--border-box-color);
                text-decoration: none;
                height: 50px;

                td,
                th,
                [role=cell],
                [role=columnheader] {
                    display: table-cell;
                    vertical-align: middle;
                    height: inherit;
                }

                // header row bold
                [role=columnheader] {
                    font-weight: bold;
                }

                // every row but not header hoverable
                &.hoverable:hover:not(.rowheader),
                &.hoverable:focus:not(.rowheader) {
                    transition: all 0.2s ease;
                    background-color: var(--content-hover-background-color);
                }
            }

            &.table-centralized {
                tbody {
                    width: 0 auto;
                }

                th {
                    text-align: right;
                    width: auto;
                }

                td {
                    text-align: left;
                    width: auto;
                }
            }
        }

        &.sticky:is(details[open]) {
            position: sticky;
            top: 0;
            z-index: 50;
        }

        summary {
            cursor: pointer;

            h2 {
                display: inline;
            }

            +* {
                margin-top: 17px;
            }
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.clickable {
    cursor: pointer;
}

.centering {
    text-align: center;
}

.float-right {
    float: right;
}

.hidden {
    display: none !important;
}

.fit-parent {
    height: 100%;
    max-width: 100%;
}

.max-parent {
    height: 100%;
    width: 100%;
}

.fit-childs * {
    height: 100%;
    max-width: 100%;
}

.max-width {
    width: 100%;
}

.flex {
    display: flex;

    >div {
        flex: 1;

        &:first-child {
            margin-right: 5px;
        }
    }
}

.sidenav {
    &.outer {
        width: $sidenav-vertical-width;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        background: var(--content-background-color);
        top: 0px;
        height: 100%;
    }

    &.inner {
        width: 90%;
        margin-left: 5%;
    }


    section {
        .section-heading {
            font-weight: bold;
            margin-left: 10px;
        }

        margin-top: 1rem;
        padding: .5rem;
        border-width: 1px;
        border-radius: 5px;
        border-style: dotted;
        border-color: var(--border-sidebar-color);
        background-color: var(--body-background-color);
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: var(--sidenav-color);
        display: block;
        transition: all 0.2s ease;
        border-radius: 10px;
        margin: 5px 0px;
        cursor: pointer;

        &:hover,
        &:focus:not(.inactive) {
            background-color: var(--sidenav-hover-background-color);
            color: var(--sidenav-hover-color);
        }

        &.active {
            background-color: var(--sidenav-hover-background-color);
            color: var(--sidenav-hover-color) !important;
        }

        .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.resizable {
    resize: both;
    overflow: auto;
}

.viewer {
    height: 400px;
    // width: 600px;
    margin-bottom: 10px;
}

.filter {
    margin: 0px 12px;
    padding: 6px 10px;
}

.sortable {
    cursor: pointer;
}